



.header1{
  max-width: 100%;
  height: auto;
  width: 100%;
  position: relative;
  right: 470px;
  top: 500px;
}

img{
  position: relative;
  left: 470px;
  bottom: 450px;
  max-width: 100%;
  height: auto;
  width: 25%;
}

iframe{
  width: 100%;
}

.one{
  font-weight: bold;
  font-style: oblique;
  font-size: 250px;

  position: relative;
  right: 470px;
  top: 350px;

  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN',
  'ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック' ,sans-serif;
  text-shadow: 30px 30px 30px black;
}

.two{
  font-weight: bold;
  font-size: 100px;
  font-style: oblique;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN',
  'ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック' ,sans-serif;
  text-shadow: 30px 30px 15px black;

  position:relative;
  bottom: 40px;
  right: 480px;
  top: 300px;
}

.three{

  font-weight: bold;
  font-size: 90px;
  font-style: oblique;
	
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN',
  'ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック' ,sans-serif;
  text-shadow: 30px 30px 15px black;

}

.four{
  font-weight: bold;
  font-size: 30px;
  font-style: oblique;
	
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN',
  'ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック' ,sans-serif;
  text-shadow: 30px 30px 15px black;

  position: relative;
  bottom: 30px;
}

.five{
	
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN',
  'ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック' ,sans-serif;
  font-weight: bold;
}


h1{
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}


p{
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}


.box {
  max-width: 100%;
  position: relative;
  top: 450px;
  right: 470px;
}




script {
    display: none;
}

#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.6;
    border-radius: 50%;
}

div {
    display: block;
}

#page_top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0d8';
    font-size: 25px;
    color: white;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}


body{
  background-image: url(10.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}




@media screen and (max-width:600px) {

	/*　画面サイズが600px以下の場合ここの記述が適用される　スマホ縦*/
main{
  width: 100%;
    }

    * {
   	float: none;
   	position: static;
   }

   img {
   	max-width: 100%;
   	height: auto;
    position: relative;
    bottom: 170px;
    left: 150px;
   }


   h1{
     position: relative;
     top: 50px;
     font-size: 40px;
   }

   p {
     font-size: 7px;
   }

   .one {
     font-size: 60px;
     position: relative;
     right: 150px;
     top: 100px;
     font-weight: bold;
     font-style: oblique;

     font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN',
       'ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック' ,sans-serif;
       text-shadow: 10px 10px 10px black;
   }

  .two {
    font-weight: bold;
    font-style: oblique;
    font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN',
    'ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック' ,sans-serif;
    text-shadow: 10px 10px 7px black;

    font-size: 30px;
    position: relative;
    right: 150px;
    top: 90px;
  }

  .three {
    font-weight: bold;
    font-style: oblique;
    text-shadow: 10px 10px 7px black;
    font-size: 30px;
  }

  .four {
    font-weight: bold;
    font-style: oblique;
    text-shadow: 10px 10px 7px black;

    font-size: 15px;
    position: relative;
    bottom: 10px;
  }

  .five {
   
  }


  .header1 {
  position: relative;
  right: 150px;
  top: 430px;
  }

 .box {
 position: relative;
 top: 200px;
 right: 150px;
}
   body{
     background-image: url(10.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment:fixed;
   }
